@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{

}
@model IEnumerable<Cart>

<section class="home-slider owl-carousel">

    <div class="slider-item" style="background-image: url(/customer_asset/images/bg_3.jpg);">
        <div class="overlay"></div>
        <div class="container">
            <div class="row slider-text justify-content-center align-items-center" data-scrollax-parent="true">

                <div class="col-md-8 col-sm-12 text-center ftco-animate">
                    <h1 class="mb-3 mt-5 bread">Cart</h1>
                    <p class="breadcrumbs"><span class="mr-2"><a asp-controller="Home" asp-action="Index">Home</a></span> <span>Cart</span></p>
                </div>

            </div>
        </div>
    </div>
</section>

<section class="ftco-section ftco-cart">
    <div class="container">
        <div class="row">
            <div class="col-md-12 ftco-animate">
                <div class="cart-list">
                    <table class="table">
                        <thead class="thead-primary">
                            <tr class="text-center">
                                <th>&nbsp;</th>
                                <th>Dish</th>
                                <th>Price</th>
                                <th>Quantity</th>
                                <th>Total</th>
                                <th>&nbsp;</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (Cart c in Model)
                            {
                                <tr class="text-center">


                                    <td class="image-prod"><div class="img" style="background-image:url(images/@c.Food.Image);"></div></td>

                                    <td class="product-name">
                                        <h3>@c.Food.Name</h3>
                                        <p>Far far away, behind the word mountains, far from the countries</p>
                                    </td>

                                    <td class="price">@c.Food.Price</td>

                                    <td class="quantity">
                                        <div class="input-group mb-3">
                                            <input type="text" name="quantity" class="quantity form-control input-number" value="@c.Quantity" min="1" max="100">
                                        </div>
                                    </td>

                                    <td class="total">$4.90</td>
                                    <td class="product-remove">
                                        <form asp-action="Delete" method="post">
                                            <input hidden value="@c.Id" name="id" />
                                            <button class="btn text-center auth-form-btn" style="width:50px;aspect-ratio:1/1;"><span class="icon-close"></span></button>
                                        </form>
                                    </td>
                                </tr><!-- END TR-->
                            }                                
                            </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="row justify-content-end">
            <div class="col col-lg-3 col-md-6 mt-5 cart-wrap ftco-animate">
                <div class="cart-total mb-3">
                    <h3>Cart Totals</h3>
                    <p class="d-flex">
                        <span>Subtotal</span>
                        <span>$20.60</span>
                    </p>
                    <p class="d-flex">
                        <span>Delivery</span>
                        <span>$0.00</span>
                    </p>
                    <p class="d-flex">
                        <span>Discount</span>
                        <span>$3.00</span>
                    </p>
                    <hr>
                    <p class="d-flex total-price">
                        <span>Total</span>
                        <span>$17.60</span>
                    </p>
                </div>
                <form class="text-center" asp-controller="Order" asp-action="Create" method="post"><button class="btn btn-primary py-3 px-4">Proceed to Checkout</button></form>
            </div>
        </div>
    </div>
</section>
