@using Microsoft.AspNetCore.Identity
@inject UserManager<UserInfo> _userManager
@{
    UserInfo userInfo = ViewBag.UserInfo;
    //if (User.Identity.Name != null)
    //{
    //    string uid = _userManager.GetUserId(User);
    //    userInfo = _userManager.Users.Include(u => u.Carts).Where(u => u.Id.Equals(uid)).FirstOrDefault();
    //}
}
<nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light @ViewData["navBarMode"]" id="ftco-navbar">
    <div class="container">
        <a class="navbar-brand" href="index.html">Coffee<small>Blend</small></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="oi oi-menu"></span> Menu
        </button>
        <div class="collapse navbar-collapse" id="ftco-nav">
            
        </div>
    </div>
</nav>
<!-- END nav -->
