@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["navBarMode"] = "navbar-normal";
}
<div class="container" style="min-height:100vh">
	<div class="row">
		@foreach(Category category in ViewBag.Categories)
	   {
			<div class="col-md-6 mb-5 pb-3">
				<h3 class="mb-5 heading-pricing ftco-animate fadeInUp ftco-animated">@category.Name</h3>
				@if (category.Foods == null) continue;
				@foreach (Food food in category.Foods)
				{
					<div class="pricing-entry d-flex ftco-animate fadeInUp ftco-animated">
						<div class="img" style="background-image: url(/images/@food.Image);"></div>
						<div class="desc pl-3">
							<div class="d-flex text align-items-center">
								<h3><span>@food.Name</span></h3>
								<span class="price">$@food.Price</span>
							</div>
							<div class="d-block">
								<p>A small river named Duden flows by their place and supplies</p>
							</div>
						</div>
					</div>
				}
			</div>

		
	   }
	</div>
</div>