@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
}

<div class="page-template-default page page-id-5448 bd-logged-out theme-bootstradash woocommerce-account woocommerce-page woocommerce-no-js bootstradash">
	<style type="text/css">
		img.wp-smiley,
		img.emoji {
			display: inline !important;
			border: none !important;
			box-shadow: none !important;
			height: 1em !important;
			width: 1em !important;
			margin: 0 .07em !important;
			vertical-align: -0.1em !important;
			background: none !important;
			padding: 0 !important;
		}
	</style>
	<link rel='stylesheet' id='myaccountcss-css'
		  href='~/template/wp-content/themes/bootstradash/assets/css/myaccountd988.css?ver=5.7.8' type='text/css' media='all' />
	<link rel='stylesheet' id='bootstrap-css'
		  href='~/template/wp-content/themes/bootstradash/bootstrap/css/bootstrap.mind988.css?ver=5.7.8' type='text/css'
		  media='all' />
	<link rel='stylesheet' id='commonstyles-css'
		  href='~/template/wp-content/themes/bootstradash/assets/css/commond988.css?ver=5.7.8' type='text/css' media='all' />
	<script type='text/javascript' src='~/template/wp-includes/js/jquery/jquery.min9d52.js?ver=3.5.1' id='jquery-core-js'></script>
	<section class="header">

		<header id="header" class="container-fluid px-6">
			<nav class="navbar navbar-expand-lg navbar-light bg-light px-0">
				<a class="navbar-brand " href="index.html">
					<img src="wp-content/themes/bootstradash/images/home-page/new-logo.svg" alt="Bootstrap dash Logo"
						class="img-fluid" width="184" height="35"> </a>

				<button class="navbar-toggler navbar-light px-0" type="button" data-toggle="collapse"
					data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false"
					aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse pl-lg-4 pb-lg-0 pb-4" id="navbarTogglerDemo02">

					<div class="menu-header-menu-container">
						<ul id="menu-header-menu" class="navbar-nav mr-auto mt-2 mt-lg-0">
							<li id="menu-item-36029"
								class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-36029">
								<a href="#" class="nav-link">Templates</a>

					</div>
					<div class="nav-right-item mr-0 ml-auto">
						<ul class="navbar-nav mr-auto align-items-lg-center align-items-start">
							<li class="nav-item">
								<a class="nav-link cart-n-count d-flex" href="cart.html">
									<svg width="18" height="18" viewBox="0 0 18 18" fill="none"
										xmlns="http://www.w3.org/2000/svg">
										<path
											d="M0.5 1.25C0.5 0.835786 0.835786 0.5 1.25 0.5H1.80826C2.75873 0.5 3.32782 1.13899 3.65325 1.73299C3.87016 2.12894 4.02708 2.58818 4.14982 3.00395C4.18306 3.00134 4.21674 3 4.2508 3H16.7481C17.5783 3 18.1778 3.79442 17.9502 4.5928L16.1224 11.0019C15.7856 12.1832 14.7062 12.9978 13.4779 12.9978H7.52977C6.29128 12.9978 5.2056 12.1699 4.87783 10.9756L4.11734 8.20455L2.85874 3.95578L2.8567 3.94834C2.701 3.38051 2.55487 2.85005 2.33773 2.4537C2.12686 2.0688 1.95877 2 1.80826 2H1.25C0.835786 2 0.5 1.66421 0.5 1.25ZM7 18C8.10457 18 9 17.1046 9 16C9 14.8954 8.10457 14 7 14C5.89543 14 5 14.8954 5 16C5 17.1046 5.89543 18 7 18ZM14 18C15.1046 18 16 17.1046 16 16C16 14.8954 15.1046 14 14 14C12.8954 14 12 14.8954 12 16C12 17.1046 12.8954 18 14 18Z"
											fill="black" />
									</svg>

									<div class="round-circle d-flex align-items-center justify-content-center">
										<span>
											0 </span>
									</div>
								</a>
							</li>
							<li class="nav-item ">

								<a class="navbar-btn" href="my-account.html">
									Login/Register </a>

							</li>


						</ul>
					</div>
				</div>

			</nav>

		</header>
	</section>
	<main>
		<section class="page-section bd-my-account-page">
			<div class="container-fluid page-container px-0">
				<div class="woocommerce">
					<div class="container-fluid">
						<div class="row no-gutter">
							<div class="col-md-6 d-none d-lg-flex form-image">
								<div class="col-lg-8">
									<h3> Handcrafted dashboards to suite all your project needs</h3>
									<p>Develop applications faster with free and premium templates built using
										Bootstrap, Angular, Vue.js, React and Laravel</p>
								</div>
							</div>
							<div class=" col-lg-6 form-wrap ">


								<div class="u-columns col2-set py-md-4" id="customer_login">

									<div class="bd-reg-login" id="bd-ma-login">

										<h2 class="login-heading">Hey there! Welcome back.</h2>
										<p class="login-subheading">Login to your account</p>
										<div class="woocommerce-notices-wrapper"></div>
										<form class="woocommerce-form woocommerce-form-login login" method="post">


											<p
												class="woocommerce-form-row woocommerce-form-row--wide form-row form-row-wide">
												<label for="username">Email address&nbsp;<span
														class="required">*</span></label>
												<input type="text"
													class="woocommerce-Input woocommerce-Input--text input-text"
													name="username" id="username" autocomplete="username" value="" />
											</p>
											<p class="woocommerce-form-row woocommerce-form-row--wide form-row-wide">
												<label for="password">Password&nbsp;<span
														class="required">*</span></label>
												<input class="woocommerce-Input woocommerce-Input--text input-text"
													type="password" name="password" id="password"
													autocomplete="current-password" />
											</p>


											<p class="form-row">
												<label
													class="woocommerce-form__label woocommerce-form__label-for-checkbox woocommerce-form-login__rememberme">
													<input
														class="woocommerce-form__input woocommerce-form__input-checkbox"
														name="rememberme" type="checkbox" id="rememberme"
														value="forever" /> <span>Remember me</span>
												</label>
												<input type="hidden" id="woocommerce-login-nonce"
													name="woocommerce-login-nonce" value="6c52b5ebe1" /><input
													type="hidden" name="_wp_http_referer" value="/my-account" /> <button
													type="submit"
													class="woocommerce-button button woocommerce-form-login__submit"
													name="login" value="Log in">Log in</button>
											</p>
											<p class="woocommerce-LostPassword lost_password">
												<a href="my-account/lost-password.html" data-wpel-link="internal">Lost
													your password?</a>
											</p>
											<p class="toggle-login"><a href="#" id="show-ma-register"
													data-wpel-link="internal">Don’t have an account? Sign up</a></p>

										</form>



									</div>
									<div class="bd-reg-login" id="bd-ma-register">

										<h2>Register</h2>

										<form method="post" class="woocommerce-form woocommerce-form-register register">



											<p
												class="woocommerce-form-row woocommerce-form-row--wide form-row form-row-wide">
												<label for="reg_email">Email address&nbsp;<span
														class="required">*</span></label>
												<input type="email"
													class="woocommerce-Input woocommerce-Input--text input-text"
													name="email" id="reg_email" autocomplete="email" value="" />
											</p>


											<p class="woocommerce-form-row woocommerce-form-row--wide form-row-wide">
												<label for="reg_password">Password&nbsp;<span
														class="required">*</span></label>
												<input type="password"
													class="woocommerce-Input woocommerce-Input--text input-text"
													name="password" id="reg_password" autocomplete="new-password" />
											</p>


											<p class="form-row form-row-wide mailchimp-newsletter"><input
													class="woocommerce-form__input woocommerce-form__input-checkbox input-checkbox"
													id="mailchimp_woocommerce_newsletter" type="checkbox"
													name="mailchimp_woocommerce_newsletter" value="1" checked="checked">
												<label for="mailchimp_woocommerce_newsletter"
													class="woocommerce-form__label woocommerce-form__label-for-checkbox inline"><span>Subscribe
														to our newsletter</span></label></p>
											<div class="clear"></div>
											<div class="woocommerce-privacy-policy-text">
												<p>Your personal data will be used to support your experience throughout
													this website, to manage access to your account, and for other
													purposes described in our <a href="privacy-policy.html"
														class="woocommerce-privacy-policy-link" target="_blank"
														data-wpel-link="internal">privacy policy</a>.</p>
											</div>
											<p class="woocommerce-FormRow form-row">
												<input type="hidden" id="woocommerce-register-nonce"
													name="woocommerce-register-nonce" value="d171af3f10" /><input
													type="hidden" name="_wp_http_referer" value="/my-account" /> <button
													type="submit" class="woocommerce-Button button" name="register"
													value="Register">Register</button>
											</p>
											<p class=""><a href="#" id="show-ma-login" data-wpel-link="internal">Already
													have an account? Log in here</a></p>


										</form>

									</div>

								</div>
							</div>
						</div>
					</div>
		</section>

		</div>
		</div>
		</section>

	</main>

</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
